h1 {
  border-bottom: 2px solid green;
  margin: 0;
  padding: 25px;
}

.menu_list{
  border-right: 2px solid green;
  margin: 0;
  padding: 25px;
  padding-left: 35px;
  width: 150px;
  color: brown;
  font-size: 20px;
  text-decoration: none;
}

ul .list_item {
  text-decoration: none;
  color: brown;
  font-size:25px;
}

ul #POSITION {
  color: orange;
  font-size: 35px;
}

h1 #TITLE {
  text-decoration: none;
  color: black;
  font-size: 60px;
}

#grid {
  display: grid;
  grid-template-columns: 220px 1fr;
}

#grid #content {
  padding: 25px;
  padding-top: 0;
}

@media(max-width:800px) {
  #grid {
    display: block;
  }

  ol {
    border-right: none;
    border-bottom: 2px solid green;
    width: 100%;
  }
}
